
  <div class="mb-4 bg-gray-700">
    <form (ngSubmit)="searchMovie()" class="flex items-stretch mx-auto">
      <input
        class="w-96 mx-4 mt-2 p-2 pl-10 text-sm rounded-lg border   bg-gray-700 border-gray-600 placeholder-gray-400 text-white"
        placeholder="Search on title" type="text" id="title" name="title" [(ngModel)]="search">
      <input type="submit" value="Search"
        class="mt-2 font-medium text-gray-400 rounded-lg text-sm px-4 py-2 bg-gray-800 hover:bg-gray-700 focus:bg-gray-700">
    </form>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 justify-items-center gap-4">
    <app-movie *ngFor="let movie of movies" [movie]="movie"></app-movie>
  </div>
