<div class="mb-4 bg-gray-700">
  <form class="flex items-stretch mx-auto">
    <input
      class="w-96 mx-4 mt-2 p-2 pl-10 text-sm rounded-lg border bg-gray-700 border-gray-600 placeholder-gray-400 text-white"
      placeholder="Search on title"
      type="text"
      id="title"
      name="title"
      [(ngModel)]="search"
    />
    <input
      type="submit"
      value="Search"
      class="mt-2 font-medium text-gray-400 rounded-lg text-sm px-4 py-2 bg-gray-800 hover:bg-gray-700 focus:bg-gray-700"
    />
  </form>
</div>

<div
  class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 justify-items-center gap-4"
>
  <div
    *ngFor="let movie of movies"
    class="h-full shadow-md rounded-lg bg-gray-800"
  >
    <div class="absolute">
      <i
        (click)="removeMovieToWatched(movie.id)"
        class="fa-solid fa-eye-slash h-15 w-15 rounded-full opacity-80 text-2xl p-1 mt-1 ml-1 text-gray-400 bg-gray-700 hover:text-gray-700 hover:bg-gray-400"
      ></i>
    </div>
    <div class="h-100">
      <a (click)="detail(movie.id)">
        <img
          class="rounded-t-lg"
          [src]="movie.poster_path"
          [alt]="movie.title"
        />
      </a>
    </div>
    <div class="p-5 max-w-xs text-center align-middle">
      <h5 class="mb-2 text-lg font-bold tracking-tight text-white">
        {{ movie.title }}
      </h5>
      <p class="mb-3 font-normal text-gray-400">
        {{ movie.release_date | date: "dd/MM/yyyy" }}
      </p>

      <form (ngSubmit)="updateRating(movie.id)">
        <input
          class="bg-gray-800 border-gray-700 border rounded-lg text-white px-2 my-2"
          placeholder="{{ movie.rating }}"
          value="{{ movie.rating }}"
          type="number"
          min="1"
          max="5"
          id="rating{{ movie.id }}"
          name="rating{{ movie.id }}"
          [(ngModel)]="rating"
        />
        <input
          class="bg-gray-800 border-gray-700 border rounded-lg text-white px-2 my-2"
          placeholder="{{ movie.comment }}"
          value="{{ movie.comment }}"
          type="text"
          id="comment{{ movie.id }}"
          name="comment{{ movie.id }}"
          [(ngModel)]="comment"
        />
        <input
          type="submit"
          value="update"
          class="bg-gray-700 rounded-lg text-white px-4 py-2 my-2"
        />
      </form>
    </div>
  </div>
</div>
